* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: floralwhite;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: floralwhite;
    color: darkred;
}

    header h1 {
        font-size: 36px;
    }

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.product-image img {
    max-width: 300px;
   
}

.product-description {
    max-width: 600px;
}

    .product-description h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .product-description p {
        font-size: 18px;
        line-height: 1.6;
    }

.product-features {
    margin: 40px;
}

    .product-features h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-features ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    .product-features li {
        font-size: 18px;
        margin-bottom: 10px;
    }

.cta {
    text-align: center;
    margin-top: 40px;
}

.buy-now {
    background-color: dodgerblue;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    
}

    .buy-now:hover {
        background-color: darkblue;
    }
