
.bio {
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.hobbies {
    text-align: left;
    margin-top: 20px; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    color: black;
    margin: 5px 0;
}
