.bio {
    margin: 40px;
    padding: 20px;
    background-color: lightgreen; 
}


.skills {
    margin: 40px;
    padding: 20px;
    background-color: lightgreen;
}

    .skills h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .skills ul {
        list-style-type: none; 
        padding: 0;
    }

    .skills li {
        font-size: 18px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: lightgreen;
    }

        .skills li:hover {
            background-color: lightgreen; 
        }

footer {
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 20px;
}

    footer a {
        color: blue; 
        margin: 10px;
        text-decoration: none;
        font-size: 16px;
    }

        footer a:hover {
            color: blue; 
        }


